In [10]:
#-----CONECTANDO AO BANCO DE DADOS-----#

import os 
import pandas as pd
import numpy as np 
import psycopg2 as pg

host = 'localhost'
dbname = 'projeto_acidentes_aeroviarios'
user = '********'
password = '*******'
sslmode = 'disable'

conect_string = 'host={} user={} dbname={} password={} sslmode={}'.format(host, user, dbname, password, sslmode)
conec = pg.connect(conect_string)
cursor = conec.cursor()

print('Conectado ao banco de dados {} com sucesso'.format(dbname))

Conectado ao banco de dados projeto_acidentes_aeroviarios com sucesso

In [11]:
#-----UNINDO AS TABELAS COM INNER JOIN E CRIANDO TABELA FINAL-----#

#-----Escrevendo uma consulta em SQL e executando ela atrav√©s de comandos Python
sql_querry_union = '''
CREATE TABLE acidentes_aeroviarios AS
SELECT codigo_ocorrencia, ocorrencia_classificacao, ocorrencia_latitude, ocorrencia_longitude, ocorrencia_cidade, ocorrencia_uf, ocorrencia_pais, ocorrencia_aerodromo, ocorrencia_dia, ocorrencia_hora, investigacao_aeronave_liberada, investigacao_status, divulgacao_relatorio_numero, divulgacao_relatorio_publicado, divulgacao_dia_publicacao, total_recomendacoes, total_aeronaves_envolvidas, ocorrencia_saida_pista, aeronave_matricula, aeronave_operador_categoria, aeronave_tipo_veiculo, aeronave_fabricante, aeronave_modelo, aeronave_tipo_icao, aeronave_motor_tipo, aeronave_motor_quantidade, aeronave_pmd, aeronave_pmd_categoria, aeronave_assentos, aeronave_ano_fabricacao, aeronave_pais_fabricante, aeronave_pais_registro, aeronave_registro_categoria, aeronave_registro_segmento, aeronave_voo_origem, aeronave_voo_destino, aeronave_fase_operacao, aeronave_tipo_operacao, aeronave_nivel_dano, aeronave_fatalidades_total, taxonomia_tipo_icao, ocorrencia_tipo_categoria, ocorrencia_tipo
FROM aeronave
INNER JOIN ocorrencia
ON aeronave.codigo_ocorrencia2 = ocorrencia.codigo_ocorrencia2
INNER JOIN ocorrencia_tipo
ON ocorrencia.codigo_ocorrencia = ocorrencia_tipo.codigo_ocorrencia1
'''

cursor.execute(sql_querry_union)
conec.commit()
cursor.close()
conec.close()

print('Tabelas unidas no banco de dados {} com sucesso'.format(dbname))

Tabelas unidas no banco de dados projeto_acidentes_aeroviarios com sucesso